@import "../../../../../src/styles/variables";

.button {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 20px;
  border: $border-blue;
  stroke: $neon-blue;
  cursor: pointer;
  background-color: $bg-dark;

  &-selected {
    background-color: $neon-blue;
    border-color: $neon-blue;
    color: $white;
    stroke: $white;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: $dark-blue;
  }
}

.green {
  border: $border-green;
  background-color: $neon-green;

  &:hover {
    border: $middle-green;
    background-color: $middle-green;
  }
}
