<div class="accounts-overview">
  <app-performance-metrics class="w-100"></app-performance-metrics>
  <app-policies class="accounts-overview-item"></app-policies>
  <div class="accounts-overview-item items-gap">
    <app-account-status class="accounts-status"></app-account-status>
    <app-compliance-and-documentation class="accounts-compliance-and-documentation"></app-compliance-and-documentation>
  </div>
  <app-account-details class="accounts-overview-item "></app-account-details>
  <app-communication class="accounts-overview-item"></app-communication>
  <app-policies-data></app-policies-data>
</div>
