<app-wrapper [title]="titles.marketIntelligence" [titleClass]="'title-gap'">
  <ng-container wrapper-content>
    <div class="market-intelligence">
      <div class="d-flex">
        <div class="market-intelligence-circle market-intelligence-circle-red"></div>
        <div>Rate hardening in Cyber market – +15% YoY</div>
      </div>
      <div class="d-flex">
        <div class="market-intelligence-circle market-intelligence-circle-yellow"></div>
        <div>New capacity entering Marine market</div>
      </div>
      <div class="d-flex">
        <div class="market-intelligence-circle market-intelligence-circle-blue"></div>
        <div>Environmental regulatory changes in CA</div>
      </div>
    </div>
  </ng-container>
</app-wrapper>
