
$white: #ffffff;
$green: #3cbb7c;
$neon-green: #3baf75;
$middle-green: #326356;
$red: #b93b3b;
$yellow: #fdd261;
$blue: #3c82f6;
$dark-blue: #1e2b59;
$middle-blue: #1d40b0;
$light-blue: #3c82f6;
$neon-blue: #4a8df6;
$gray: #c5cad3;
$light-gray:#e5e7eb;
$dark-gray: #79859a;
$neon-yellow: #f8ce60;

$bg-light:#1e2233;
$bg-dark: #0d0f17;
$bg-card: #252a3d;

$border-neon-blue-2: 2px solid $neon-blue;
$border-neon-blue: 1px solid $neon-blue;
$border-blue: 1px solid #313b54;
$border-green: 1px solid $neon-green;

$max-layout-width: 1930px;
