<div class="t">
    <table>
        <thead>
        <tr class="t-header sub-title">
            <th *ngFor="let column of columns" [style.min-width.px]="column.minWidth? column.minWidth: 200">{{ column.label|uppercase }}</th>
        </tr>
        </thead>
        <tbody>
        <!-- Create table rows dynamically based on data input -->
        <tr class="t-cell text-base" [class.bg-blue-light]="i%2" *ngFor="let row of data; let i=index">
            <td *ngFor="let column of columns">

                <ng-container [ngSwitch]="column.uiType">

                    <!-- Custom UI type: userInitials -->
                    <ng-container *ngSwitchCase="'userInitials'">
                        <div class="d-flex user-data">
                            <div class="user-profile-initials">
                                {{ row[column.key]?.[0] }}{{ row[column.key]?.split(' ')[1]?.[0] }}
                            </div>
                            <div>{{ row[column.key] }}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'menu'">
                        <div class="t-menu">

                            <mat-icon [svgIcon]="'threeDots'"></mat-icon>
                        </div>

                    </ng-container>

                    <ng-container *ngSwitchCase="'status'">
                        <app-status [status]=" row | getNestedValue: column.key "></app-status>

                    </ng-container>

                  <ng-container *ngSwitchCase="'ratio'">
                    <app-loss-ratio [ratio]= "row | getNestedValue: column.key "></app-loss-ratio>

                  </ng-container>
                  <ng-container *ngSwitchCase="'highlightedAmount'">
                    <div class="highlighted-amount">{{ row | getNestedValue: column.key }}</div>

                  </ng-container>

                  <ng-container *ngSwitchCase="'categoryBadge'">
                    <app-category-badge [value]="row | getNestedValue: column.key"></app-category-badge>

                  </ng-container>

                  <ng-container *ngSwitchCase="'strengthIndicator'">
                    <app-strength-indicator [label]="row | getNestedValue: column.key"></app-strength-indicator>

                  </ng-container>
                  <ng-container *ngSwitchCase="'currency'">
                    <div>{{ row | getNestedValue: column.key |currency:column.currencyType:'symbol':'1.0-0' }}</div>
                  </ng-container>

                    <!-- Default rendering for all other types -->
                    <ng-container *ngSwitchDefault>
                        <div>{{ row | getNestedValue: column.key }}</div>
                        <div class="t-sub-key">{{ row | getNestedValue: column.subKey }}</div>
                    </ng-container>

                </ng-container>
            </td>
        </tr>
        </tbody>
    </table>
</div>









<!--<section class="example-container mat-elevation-z8" tabindex="0">-->
<!--  <table mat-table [dataSource]="dataSource">-->

<!--      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">-->
<!--          <th class="t-header" mat-header-cell *matHeaderCellDef> {{column}} </th>-->
<!--          <td  class="t-cell" mat-cell *matCellDef="let element"> {{element[column]}} </td>-->
<!--      </ng-container>-->
<!--    &lt;!&ndash; Position Column &ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="position">&ndash;&gt;-->
<!--&lt;!&ndash;      <th mat-header-cell *matHeaderCellDef> No. </th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td mat-cell *matCellDef="let element"> {{element.position}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash; Name Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="name">&ndash;&gt;-->
<!--&lt;!&ndash;      <th mat-header-cell *matHeaderCellDef> Name </th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td mat-cell *matCellDef="let element"> {{element.name}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash; Weight Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="weight">&ndash;&gt;-->
<!--&lt;!&ndash;      <th mat-header-cell *matHeaderCellDef> Weight </th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;    &lt;!&ndash; Symbol Column &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="symbol">&ndash;&gt;-->
<!--&lt;!&ndash;      <th mat-header-cell *matHeaderCellDef> Symbol </th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->
<!--</section>-->
