@import "../../../../../src/styles/variables";

.strength-indicator {
  display: inline-flex;
  align-items: center;
  border: 1px solid #3b82f6;
  border-radius: 9999px;
  padding: 0.25rem 0.75rem;
  color: #3b82f6;
  font-weight: 500;
  font-size: 0.9rem;
}




