@import "../../../../../src/styles/variables";

.search {
  background-color: $bg-light;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
  width: 100%;

  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  }

  &-underlined {
    border: $border-blue;
  }
}
